<div class="main">
	<div class="contact">
		<h2>Contact</h2>
		<div class="img">
			<img src="/img/paco-chavez-garibay.jpg" alt="">
		</div>
		<h1> José Francisco Chávez Garibay</h1>
		<h3>
			would you like talking about Technology, javascript, or maybe drinking beer?
		</h3>

		<ul>
			<li>
				<a href="https://twitter.com/pacochavez">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="">
					<i class="fa fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/jos%C3%A9-francisco-ch%C3%A1vez-garibay-01676417">
					<i class="fa fa-linkedin"></i>
				</a>
			</li>
			<li>
				<a href="https://plus.google.com/+pacochavezmx">
					<i class="fa fa-google-plus"></i>
				</a>
			</li>
		</ul>
		<div></div>	
	</div>
</div>