<div class="main pane-left">
	<h2>About me</h2>
	<section>
		<article ng-repeat="timeline in All_timeline | orderBy:'-year'">
			<div class="year">{{timeline.year}}</div>
			<div class="content">
				<p ng-repeat="description in timeline.descriptions | orderBy:'order'" ng-class="{left: leftClass(LEFT)}">
					<i class="fa fa-{{description.icon}}"></i><br>
					{{description.history}}
				</p>
			</div>
		</article>
	</section>
</div
><div class="pane-right">
	<section class="paco">
		<div class="imagen-paco">
			<img src="img/paco-chavez-garibay.jpg" alt="Jose Francisco Chavez Garibay - Paco Chavez ">	
			
		</div>
		<h3>José Francisco Chávez Garibay</h3>
		<p>
			Hi, I'm Paco Chávez, I was born in Mazatlán Sinaloa, one of the most beautiful places in Mexico. I am passionate about Interface designing, Javascript, Front-ending, cooking, wandering around the beach.
		</p>
	</section>
	<section class="skills">
		<h3>Skills</h3>
		<article ng-repeat="skill in skills">
			<i class="fa fa-{{skill.icon}}"></i>
			<h4>{{skill.description | capitalize}}</h4>
			<div ng-repeat="habilidad in skill.habilidades">
				<p>{{habilidad.description | capitalize}}</p> 
				<div class="progres-bar">
					<span class="_{{habilidad.porcentaje}}_percent"></span>
				</div>
			</div>
		</article>
	</section>
</div>