<div class="main">
	<section class="portafolio">
		<ul>
			<li ng-class="{selected:skill.icon==skillSelected}"class="{{skill.icon}}" ng-repeat="skill in used_skills" ng-click="selectSkill(skill.icon)">
				<a href="#">
					<i class="fa fa-{{skill.icon}}"></i>
				</a>
			</li>
		</ul>
		<article ng-repeat="work in portfolio | filter:fSkill">
			<h3><a href="{{work.link}}"></a>{{work.title}}</h3>
			<a href="{{work.link}}" target="_blank">
				<img ng-src="{{img_source(work.img)}}" alt="{{work.title}}">
			</a>
			<p>{{work.description}}</p>	
			<ul>
				<li ng-repeat="skill in work.used_skills">
					<i class="fa fa-{{skill.icon}}"></i>
				</li>
			</ul>
		</article>
	</section>
</div>