gris_remarcado = #666
gris_oscuro = #878787
gris_medio = #dedede
verde = #15ba4c
azul = #1285ad
naranja = #d66b09
amarillo = #bfbf0a
lila = #8f1aa3
rojo = #b51e16
rosa = #d13090
icon_timeline = #9E9E9E
body
	.wrapper
		.container
			.pane-right
				section
					&.skills
						article
							i
								&.fa-institution
									background verde
								&.fa-code
									background azul
								&.fa-paint-brush
									background amarillo
								&.fa-desktop
									background lila
								&.fa-database
									background naranja
								&.fa-code-fork
									background rosa
								&.fa-cogs
									background rojo
			