@media screen and (min-width: 800px)
	body
		.wrapper
			header
				nav
					ul
						margin 0px 20%
			.container
				margin-top 15px
				.pane-right
					width 31%
					display inline-block
					vertical-align top
					border-left 1px solid gris_medio
					padding 2%			
				.main
					&.pane-left
						border none
						width 64%
						display inline-block				
						vertical-align top
						h2
							text-align center
						section
							article
								text-align center
								.content
									display inline-block
									width 0px
									margin 0 49%
									border 0px
									padding 0px
									p
										margin 0px
										padding 20px 15px
										position relative
										width 230px
										text-align right
										border-right 1px solid gris_medio
										left -260px
										i
											position absolute
											top 11px
											left 243px
										&.left
											padding 20px 15px
											left 0px
											border-right 0px
											text-align left
											border-left 1px solid gris_medio
											i
												left -18px
																	

@media screen and (min-width: 880px)
	body
		.wrapper	
			header
				figure
					text-align left
				nav
					overflow hidden
					text-align left
					ul
						margin 0px
						float right					